
<div name="calculadora" class="container">
    <div class="child">
       <!-- <input class="display"  type="textfield" name="displayCalc" value="">-->
        <div class="block">
            <input id="txtOperaciones" class="display" type="textfield" value="">
        </div>    
        <div class="block">
        <input class="button Numberbutton" type="button" value="7" >
        <input class="button Numberbutton" type="button" value="8" >
        <input class="button Numberbutton" type="button" value="9" >
        <input class="button Operationbutton" type="button" value="+" >
    </div>

        <div class="block">
        <input class="button Numberbutton" type="button" value="4" >
        <input class="button Numberbutton" type="button" value="5" >
        <input class="button Numberbutton" type="button" value="6" >
        <input class="button Operationbutton" type="button" value="-" >
    </div>
        <div class="block">
        <input class="button Numberbutton" type="button" value="1" >
        <input class="button Numberbutton" type="button" value="2" >
        <input class="button Numberbutton" type="button" value="3" >
        <input class="button Operationbutton" type="button" value="*" >
    </div>

        <div class="block">
        <input class="button Numberbutton" type="button" value="0" >
        <input class="button Operationbutton" type="button" value="c" >
        <input class="button Operationbutton" type="button" value="/" >
    </div>
</div>
</div>
